/* 全体のfont指定 */
body {
    color: #3b3b3b;
    background-color: #fff;
}

/* PC表示版 */
@media screen and (min-width:769px) {

  /* ヘッダー */
  .ly_header {
    box-sizing: border-box;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 13px 89px 0;
    width: 100%;
  }

  .bl_headerLogo {
    color: #918f89;
    font: 600 16px/15px 'noto sans';
    text-align: center;
  }

  .bl_headerHumberger {
    display: none;
  }

  .bl_headerNav {
    height: 35px;
    margin-top: 15px;
    width: 336px;
  }

  .bl_headerNav_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .el_headerNav_list_item {
    color: #272727;
    font: 400 16px/22px 'noto sans';
    opacity: .5;
    text-decoration: none;
  }

  .el_headerNav_list_item__active {
    border-bottom:  2px solid #3b3b3b;
    line-height: 22px;
    opacity: 1;
    padding-bottom: 8px;
  }

  /* Aboutページ */
  .bl_MV1 {
    background: url(../img/2x/img1.png) no-repeat border-box left top/cover;
    height: 0;
    margin-bottom: 142px;
    padding-bottom: 58%;
    position: relative;
    width: 100%;
  }

  .bl_MV1_ttl {
    background-color: #fff;
    color: #918f89;
    display: inline-block;
    font: 400 60px/82px 'noto sans';
    letter-spacing: 3px;
    opacity: .8;
    padding: 31px 60px 23px 88px;
    position: absolute;
    text-align: left;
    top: 36%;
  }

  .bl_catch {
    background: url(../img/2x/img2.png) no-repeat border-box left top/contain;
    height: 0;
    margin: 0 auto 200px;
    padding-bottom: 39%;
    position: relative;
    width: 85%;
  }

  .bl_catch_ttl {
    font: 400 25px/29px 'noto sans';
    left: 57%;
    letter-spacing: 2.5px;
    position: absolute;
    top: 40%;
  }

  .bl_catch_txt {
    font: 400 12px/30px 'noto sans';
    left: 57%;
    letter-spacing: .36px;
    position: absolute;
    top: 54%;
  }

  .bl_gallery {
    margin: 0 auto 210px;
    width: 75%;
  }

  .bl_gallery_ttl {
    background: url(../img/2x/img3.png) no-repeat bottom/contain;
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 30px;
    padding-bottom: 58%;
    text-align: center;
  }

  .bl_gallery_dot {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  .el_gallery_dot_item {
    background-color: #a5a5a5;
    border-radius: 50%;
    height: 6px;
    opacity: .3;
    width: 6px;
  }

  .el_gallery_dot_item__active {
    margin: 0 4px;
    opacity: 1;
  }

  .bl_news {
    margin-bottom: 221px;
    text-align: center;
  }

  .bl_news_ttl {
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 50px;
  }

  .bl_news_conts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 39px;
}

  .el_couch {
    background: url(../img/2x/img4.png) no-repeat left top/cover;
    height: 387px;
    position: relative;
    width: 334px;
  }

  .el_couch::after {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    content: "アームストロングのカウチ入荷";
    font: 400 17px/387px 'noto sans';
    height: 0;
    left: 0;
    position: absolute;
    text-align: center;
    top: 387px;
    transition: all .5s;
    width: 334px;
  }

  .el_couch:hover::after {
    height: 387px;
    top: 0;
  }

  .el_chair {
    background: url(../img/2x/img5.png) no-repeat left top/cover;
    height: 387px;
    position: relative;
    width: 334px;
  }

  .el_chair::after {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    content: "アームストロングのチェア再入荷";
    font: 400 17px/387px 'noto sans';
    height: 0;
    left: 0;
    position: absolute;
    text-align: center;
    top: 387px;
    transition: all .5s;
    width: 334px;
  }

  .el_chair:hover::after {
    height: 387px;
    top: 0;
  }

  .el_table {
    background: url(../img/2x/img6.png) no-repeat left top/cover;
    height: 387px;
    position: relative;
    width: 334px;
  }

  .el_table::after {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    content: "アームストロングのテーブル入荷";
    font: 400 17px/387px 'noto sans';
    height: 0;
    left: 0;
    position: absolute;
    text-align: center;
    top: 387px;
    transition: all .5s;
    width: 334px;
  }

  .el_table:hover::after {
    height: 387px;
    top: 0;
  }

  .bl_news_txt {
    color: #3b3b3b;
    display: inline-block;
    font: 400 21px/22px 'noto sans';
    letter-spacing: 1.05px;
    text-decoration: none;
  }

  .bl_form {
    margin-bottom: 221px;
  }

  .bl_form_ttl {
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 60px;
    text-align: center;
  }

  .bl_form_forms {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .el_form_item {
    background-color: #fff;
    border: .5px solid #707070;
    border-radius: 11px;
    box-sizing: border-box;
    margin-bottom: 30px;
    opacity: .6;
    padding: 9px 17px;
    width: 463px;
  }

  .el_form_txt {
    margin-bottom: 67px;
    padding: 11px 17px;
  }

  .el_form_submit {
    background-color: #707070;
    border-radius: 35px;
    color: #fff;
    font: 400 15px/17px 'noto sans';
    height: 35px;
    letter-spacing: .75px;
    width: 111px;
  }

  .el_form_submit:hover{
    background-color: #a5a5a5;
    color: #3b3b3b;
  }

  /* footer */
  .ly_footer {
    background-color: #918f89;
    box-sizing: border-box;
    padding: 116px 219px 35px 227px;
  }

  .ly_footer_inner {
    display: flex;
    height: 133px;
    justify-content: space-between;
  }

  .bl_footerLogo {
    color: #fff;
    font: 600 22px/21px 'noto sans';
    text-align: center;
  }

  .bl_footerNav {
    display: flex;
    height: 24px;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
    width: 40%;
  }

  .el_footerNav_item {
    color: #fff;
    font: 400 18px/24px 'noto sans';
    text-decoration: none;
  }

  .bl_footerCopyright {
    color: #fff;
    font: 400 10px/14px 'noto sans';
    letter-spacing: .4px;
    text-align: center;
  }
}

/* SP表示版 */
@media screen and (max-width: 768px) {
  /* ヘッダー */
  .ly_header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .ly_header_inner {
    background-color: #918f89;
    box-sizing: border-box;
    height: 55px;
    padding: 10px 0;
    position: relative;
    width: 100%;
  }

  .bl_headerLogo {
    color: #FFFFFF;
    font: 600 16px/15px 'noto sans';
    text-align: center;
  }

  .bl_headerHumberger {
    position: absolute;
    right: 5%;
    top: 14px;
    width: 36px;
  }

  .el_humbergerLine {
    background-color: #FFFFFF;
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transform: rotate(0deg);
    transition: all .5s;
    width: 100%;
  }

  .el_humbergerLineTop {
    top: 0;
  }

  .el_humbergerLineMid {
    top: 12px;
  }

  .el_humbergerLineBtm {
    top: 24px;
  }

  .el_humbergerLineTop.active {
    top: 12px;
    transform: rotate(45deg);
  }

  .el_humbergerLineMid.active {
    left: 200%;
    width: 0;
  }

  .el_humbergerLineBtm.active {
    top: 12px;
    transform: rotate(-45deg);
  }

  .bl_headerNav {
    position: relative;
  }

  .bl_headerNav_list {
    background-color: #918F89;
    opacity: 0.9;
    text-align: center;
  }

  .el_headerNav_list_inner{
    height: 0;
    transition: all .5s;
  }

  .el_headerNav_list_inner.open{
    border-bottom: 0.5px solid #FFFFFF;
    height: 80px;
  }

  .el_headerNav_list_inner:nth-child(3).open {
    border: none;
  }

  .el_headerNav_list_item {
    border-bottom: none;
    color: #fff;
    font: 400 0px/0px 'noto sans';
    transition: line-height .5s;
  }

  .el_headerNav_list_item.open {
    font: 400 23px/80px 'noto sans';
    text-decoration: none;
  }

  /* Aboutページ */
  .bl_MV1 {
    background: url(../img/sp/sp-img01.png) no-repeat left -55px/cover;
    height: 0;
    margin-bottom: 72px;
    padding-bottom: 173%;
    position: relative;
    width: 100%;
  }

  .bl_MV1_ttl {
    color: #918f89;
    font: 400 39px/85px 'noto sans';
    letter-spacing: 1.95px;
    position: absolute;
    text-align: left;
    top: 21%;
  }

  .el_MV1_ttl_item {
    background-color: #fff;
    opacity: .6;
    padding: 13px 10px 10px 54px;
  }

  .el_br::before {
    content: "\A";
    white-space: pre;
  }

  .bl_catch {
    margin: 0 7% 140px;
  }

  .bl_catch_ttl {
    font: 400 25px/25px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 34px;
    text-align: center;
  }

  .bl_catch_txt {
    background: url(../img/sp/sp-img02.png) no-repeat bottom/89%;
    font: 400 14px/32px 'noto sans';
    height: 0;
    letter-spacing: .42px;
    padding-bottom: 163%;
    text-align: center;
  }

  .bl_gallery {
    margin: 0 2% 210px;
  }

  .bl_gallery_ttl {
    background: url(../img/sp/sp-img03.png) no-repeat bottom/contain;
    font: 400 25px/36px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 30px;
    padding-bottom: 89%;
    text-align: center;
  }

  .bl_gallery_dot {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  .el_gallery_dot_item {
    background-color: #a5a5a5;
    border-radius: 50%;
    height: 6px;
    opacity: .3;
    width: 6px;
  }

  .el_gallery_dot_item__active {
    background-color: #a5a5a5;
    border-radius: 50%;
    height: 6px;
    margin: 0 4px;
    opacity: 1;
    width: 6px;
  }

  .bl_news {
    margin-bottom: 140px;
    text-align: center;
  }

  .bl_news_ttl {
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 85px;
  }

  .bl_news_conts {
    margin-bottom: 50px;
  }

  .el_newItemImg {
    display: inline-block;
    height: 276px;
    margin-bottom: 30px;
    width: 286px;
  }

  .el_newItemImg::after {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    font: 400 17px/276px 'noto sans';
    height: 276px;
    text-align: center;
    width: 286px;
  }

  .el_couch {
    background: url(../img/sp/sp-img04.png) no-repeat left top/cover;
  }

  .el_couch::after {
    content: "アームストロングのカウチ入荷";
  }

  .el_chair {
    background: url(../img/sp/sp-img05.png) no-repeat left top/cover;
  }
  .el_chair::after {
    content: "アームストロングのチェア再入荷";
  }

  .el_table {
    background: url(../img/sp/sp-img06.png) no-repeat left top/cover;
  }
  .el_table::after {
    content: "アームストロングのテーブル入荷";
  }

  .bl_news_txt {
    color: #3b3b3b;
    font: 400 21px/22px 'noto sans';
    letter-spacing: 1.05px;
    text-decoration: none;
  }

  .bl_form {
    margin: 0 12% 178px;
  }

  .bl_form_ttl {
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 65px;
    text-align: center;
  }

  .bl_form_forms {
    text-align: center;
  }

  .el_form_item {
    background-color: #fff;
    border: 0.5px solid #707070;
    border-radius: 11px;
    box-sizing: border-box;
    font: 400 14px/20px 'noto sans';
    margin-bottom: 20px;
    opacity: 0.6;
    width: 100%;
  }

  .el_form_name,
  .el_form_mail {
    padding: 9px 17px;
  }

  .el_form_text {
    margin-bottom: 35px;
    padding: 11px 17px;
  }

  .el_form_submit {
    background-color: #707070;
    border-radius: 35px;
    color: #fff;
    font: 400 15px/15px 'noto sans';
    height: 35px;
    letter-spacing: 0.75px;
    width: 111px;
  }

  /* footer */
  .ly_footer {
    background-color: #918f89;
    box-sizing: border-box;
    padding: 86px 0px 78px;
  }

  .ly_footer_inner {
    color: #fff;
    font: 600 16px/18px 'noto sans';
    margin-bottom: 63px;
    text-align: center;
  }

  .el_footerNav_item {
    display: none;
  }

  .bl_footerCopyright {
    color: #fff;
    font: 400 10px/10px 'noto sans';
    letter-spacing: 0.4px;
    text-align: center;
  }
}