/* 全体のfont指定 */
body {
    color: #3B3B3B;
}

/* PC表示版 */
@media screen and (min-width:769px) {

  /* ヘッダー */
  header {
    box-sizing: border-box;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 13px 89px 0px;
    width: 100%;
  }

  .header-logo {
    color: #918F89;
    font: 600 16px/15px 'noto sans';
    text-align: center;
  }

  .humberger {
    display: none;
  }

  .header-nav {
    height: 35px;
    margin-top: 15px;
    width: 336px;
  }

  .header-nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .header-nav-list-item {
    color: #272727;
    font: 400 16px/22px 'noto sans';
    opacity: 0.5;
    text-decoration: none;
  }

  .header-nav-list-item-active {
    border-bottom:  2px solid #3B3B3B;
    line-height: 22px;
    opacity: 1;
    padding-bottom: 8px;
  }

  /* Aboutページ */
  .about-key-visual {
    background: url(../img/2x/img1.png) no-repeat border-box left top/cover;
    height: 0;
    margin-bottom: 142px;
    padding-bottom: 58%;
    position: relative;
    width: 100%;
  }

  .about-key-visual-title {
    background-color: #fff;
    color: #918F89;
    display: inline-block;
    font: 400 60px/82px 'noto sans';
    letter-spacing: 3px;
    opacity: 0.8;
    padding: 31px 60px 23px 88px;
    position: absolute;
    text-align: left;
    top: 36%;
  }

  .about-catchphrase {
    background: url(../img/2x/img2.png) no-repeat border-box left top/contain;
    height: 0;
    margin: 0 auto 200px;
    padding-bottom: 39%;
    position: relative;
    width: 85%;
  }

  .about-catchphrase-title {
    font: 400 25px/29px 'noto sans';
    left: 57%;
    letter-spacing: 2.5px;
    position: absolute;
    top: 40%;
  }

  .about-catchphrase-text {
    font: 400 12px/30px 'noto sans';
    left: 57%;
    letter-spacing: 0.36px;
    position: absolute;
    top: 54%;
  }

  .about-gallery {
    margin: 0px auto 210px;
    width: 75%;
  }

  .about-gallery-text {
    background: url(../img/2x/img3.png) no-repeat bottom/contain;
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 30px;
    padding-bottom: 58%;
    text-align: center;
  }

  .about-dot {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  .about-dot li {
    background-color: #A5A5A5;
    border-radius: 50%;
    height: 6px;
    opacity: 0.3;
    width: 6px;
  }

  .about-dot .about-dot-active {
    background-color: #A5A5A5;
    border-radius: 50%;
    height: 6px;
    margin: 0px 4px 0px;
    opacity: 1;
    width: 6px;
  }

  .about-news {
    margin-bottom: 221px;
    text-align: center;
  }

  .about-news-title {
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 50px;
  }

  .about-news-contents {
    display: flex;
    justify-content: space-around;
    margin-bottom: 39px;
}

  .couch {
    background: url(../img/2x/img4.png) no-repeat left top/cover;
    height: 387px;
    position: relative;
    width: 334px;
  }

  .couch::after {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    content: "アームストロングのカウチ入荷";
    font: 400 17px/387px 'noto sans';
    height: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 387px;
    transition: all 0.5s;
    width: 334px;
  }

  .couch:hover::after {
    color: rgba(255, 255, 255, 1);
    content: "アームストロングのカウチ入荷";
    font: 400 17px/387px 'noto sans';
    left: 0px;
    height: 387px;
    position: absolute;
    text-align: center;
    top: 0px;
  }

  .chair {
    background: url(../img/2x/img5.png) no-repeat left top/cover;
    height: 387px;
    position: relative;
    width: 334px;
  }
  .chair::after {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    content: "アームストロングのチェア再入荷";
    font: 400 17px/387px 'noto sans';
    height: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 387px;
    transition: all 0.5s;
  }

  .chair:hover::after {
    content: "アームストロングのチェア再入荷";
    color: rgba(255, 255, 255, 1);
    font: 400 17px/387px 'noto sans';
    height: 387px;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
  }

  .table {
    background: url(../img/2x/img6.png) no-repeat left top/cover;
    height: 387px;
    position: relative;
    width: 334px;
  }

  .table::after {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    content: "アームストロングのテーブル入荷";
    font: 400 17px/387px 'noto sans';
    height: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 387px;
    transition: all 0.5s;
    width: 334px;
  }

  .table:hover::after {
    color: rgba(255, 255, 255, 1);
    content: "アームストロングのテーブル入荷";
    font: 400 17px/387px 'noto sans';
    height: 387px;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
  }

  .about-news-text {
    color: #3B3B3B;
    display: inline-block;
    font: 400 21px/22px 'noto sans';
    letter-spacing: 1.05px;
    text-decoration: none;
  }

  .about-form {
    margin-bottom: 221px;
  }

  .about-form-title {
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 60px;
    text-align: center;
  }

  .about-form-forms {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .forms {
    background-color: #FFFFFF;
    border: 0.5px solid #707070;
    border-radius: 11px;
    box-sizing: border-box;
    margin-bottom: 30px;
    opacity: 0.6;
    padding: 9px 17px;
    width: 463px;
  }

  .about-form-text {
    margin-bottom: 67px;
    padding: 11px 17px;
  }

  .about-form-submit {
    background-color: #707070;
    border-radius: 35px;
    color: #FFFFFF;
    font: 400 15px/17px 'noto sans';
    height: 35px;
    letter-spacing: 0.75px;
    width: 111px;
  }

  /* footer */
  footer {
    background-color: #918F89;
    box-sizing: border-box;
    padding: 116px 219px 35px 227px;
  }

  .footer-container {
    display: flex;
    height: 133px;
    justify-content: space-between;
  }

  .footer-logo {
    color: #FFFFFF;
    font: 600 22px/21px 'noto sans';
    text-align: center;
  }

  .footer-nav-list {
    display: flex;
    height: 24px;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
    width: 40%;
  }

  .footer-nav-list-item {
    color: #FFFFFF;
    font: 400 18px/24px 'noto sans';
    text-decoration: none;
  }

  .footer-copyright {
    color: #FFFFFF;
    font: 400 10px/14px 'noto sans';
    letter-spacing: 0.4px;
    text-align: center;
  }
}

/* SP表示版 */
@media screen and (max-width: 768px) {
  /* ヘッダー */
  header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .header-container {
    background-color: #918f89;
    box-sizing: border-box;
    height: 55px;
    padding: 10px 0;
    position: relative;
    width: 100%;
  }

  .header-logo {
    color: #FFFFFF;
    font: 600 16px/15px 'noto sans';
    text-align: center;
  }

  .humberger {
    position: absolute;
    right: 5%;
    top: 14px;
    width: 36px;
  }

  .line {
    background-color: #FFFFFF;
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transform: rotate(0deg);
    transition: all .5s;
    width: 100%;
  }

  .humberger-line-top {
    top: 0;
  }

  .humberger-line-middle {
    top: 12px;
  }

  .humberger-line-bottom {
    top: 24px;
  }

  .humberger-line-top.active {
    top: 12px;
    transform: rotate(45deg);
  }

  .humberger-line-middle.active {
    left: 200%;
    width: 0;
  }

  .humberger-line-bottom.active {
    top: 12px;
    transform: rotate(-45deg);
  }

  .header-nav {
    position: relative;
  }

  .header-nav-list {
    background-color: #918F89;
    opacity: 0.9;
    text-align: center;
  }

  .header-nav-list-li{
    height: 0;
    transition: all .5s;
  }

  .header-nav-list-li.open{
    border-bottom: 0.5px solid #FFFFFF;
    height: 80px;
  }

  .header-nav-list-li:nth-child(3).open {
    border: none;
  }

  .header-nav-list-item {
    border-bottom: none;
    color: #fff;
    font: 400 0px/0px 'noto sans';
    transition: line-height .5s;
  }

  .header-nav-list-item.open {
    font: 400 23px/80px 'noto sans';
    text-decoration: none;
  }

  /* Aboutページ */
  .about-key-visual {
    background: url(../img/sp/sp-img01.png) no-repeat left -55px/cover;
    height: 0;
    margin-bottom: 72px;
    padding-bottom: 173%;
    position: relative;
    width: 100%;
  }

  .about-key-visual-title {
    color: #918F89;
    font: 400 39px/85px 'noto sans';
    letter-spacing: 1.95px;
    position: absolute;
    text-align: left;
    top: 21%;
  }

  .about-key-visual-title-item {
    background-color: #FFFFFF;
    opacity: 0.6;
    padding: 13px 10px 10px 54px;
  }

  .br::before {
    content: "\A";
    white-space: pre;
  }

  .about-catchphrase {
    margin: 0 7% 140px;
  }

  .about-catchphrase-title {
    font: 400 25px/25px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 34px;
    text-align: center;
  }

  .about-catchphrase-text {
    background: url(../img/sp/sp-img02.png) no-repeat bottom/89%;
    font: 400 14px/32px 'noto sans';
    height: 0;
    letter-spacing: 0.42px;
    padding-bottom: 163%;
    text-align: center;
  }

  .about-gallery {
    margin: 0px 2% 210px;
  }

  .about-gallery-text {
    background: url(../img/sp/sp-img03.png) no-repeat bottom/contain;
    font: 400 25px/36px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 30px;
    padding-bottom: 89%;
    text-align: center;
  }

  .about-dot {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  .about-dot li {
    background-color: #A5A5A5;
    border-radius: 50%;
    height: 6px;
    opacity: 0.3;
    width: 6px;
  }

  .about-dot .about-dot-active {
    background-color: #A5A5A5;
    border-radius: 50%;
    height: 6px;
    margin: 0px 4px 0px;
    opacity: 1;
    width: 6px;
  }

  .about-news {
    margin-bottom: 140px;
    text-align: center;
  }

  .about-news-title {
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 85px;
  }

  .about-news-contents {
    margin-bottom: 50px;
  }

  .contents-item {
    display: inline-block;
    height: 276px;
    margin-bottom: 30px;
    width: 286px;
  }

  .contents-item::after {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 1);
    display: block;
    font: 400 17px/276px 'noto sans';
    height: 276px;
    text-align: center;
    width: 286px;
  }

  .couch {
    background: url(../img/sp/sp-img04.png) no-repeat left top/cover;
  }

  .couch::after {
    content: "アームストロングのカウチ入荷";
  }

  .chair {
    background: url(../img/sp/sp-img05.png) no-repeat left top/cover;
  }
  .chair::after {
    content: "アームストロングのチェア再入荷";
  }

  .table {
    background: url(../img/sp/sp-img06.png) no-repeat left top/cover;
  }
  .table::after {
    content: "アームストロングのテーブル入荷";
  }

  .about-news-text {
    color: #3B3B3B;
    font: 400 21px/22px 'noto sans';
    letter-spacing: 1.05px;
    text-decoration: none;
  }

  .about-form {
    margin: 0px 12% 178px;
  }

  .about-form-title {
    font: 400 25px/29px 'noto sans';
    letter-spacing: 2.5px;
    margin-bottom: 65px;
    text-align: center;
  }

  .about-form-forms {
    text-align: center;
  }

  .forms {
    background-color: #ffffff;
    border: 0.5px solid #707070;
    border-radius: 11px;
    box-sizing: border-box;
    font: 400 14px/20px 'noto sans';
    margin-bottom: 20px;
    opacity: 0.6;
    width: 100%;
  }

  .about-form-name, .about-form-mail {
    padding: 9px 17px;
  }

  .about-form-text {
    margin-bottom: 35px;
    padding: 11px 17px;
  }

  .about-form-submit {
    background-color: #707070;
    border-radius: 35px;
    color: #FFFFFF;
    font: 400 15px/15px 'noto sans';
    height: 35px;
    letter-spacing: 0.75px;
    width: 111px;
  }

  /* footer */
  footer {
    background-color: #918F89;
    box-sizing: border-box;
    padding: 86px 0px 78px;
  }

  .footer-logo {
    color: #FFFFFF;
    font: 600 16px/18px 'noto sans';
    margin-bottom: 63px;
    text-align: center;
  }

  .footer-nav-list {
    display: none;
  }

  .footer-copyright {
    color: #FFFFFF;
    font: 400 10px/10px 'noto sans';
    letter-spacing: 0.4px;
    text-align: center;
  }
}