/* 全体のfont指定 */
body {
    color: #3b3b3b;
    background-color: #fff;
}

/* PC表示版 */
@media screen and (min-width:769px) {

  /* Newsページ */
  .bl_MV2 {
    background: url(../img/2x/img7.png) no-repeat border-box left top/cover;
    display: flex;
    height: 0;
    margin-bottom: 86px;
    padding-bottom: 32%;
    position: relative;
    width: 100%;
  }

  .bl_MV2_ttl {
    color: #918f89;
    font: 400 30px/30px 'noto sans';
    left: 18%;
    letter-spacing: 3px;
    position: absolute;
    top: 45%;
  }

  .bl_inf {
    margin-bottom: 320px;
  }

  .bl_inf_ttl {
    font: 400 21px/21px 'noto sans';
    letter-spacing: 2.1px;
    margin-bottom: 80px;
    text-align: center;
  }

  .bl_inf_conts {
    display: flex;
    justify-content: space-around;
  }

  .bl_inf_txt {
      display: none;
  }
}

/* 画像についてはabout-news-contents内のcouch, chair, tableで指定 */

/* SP表示版 */
@media screen and (max-width: 768px) {
  .bl_MV2 {
    background: url(../img/sp/sp-img07.png) no-repeat border-box left top/cover;
    height: 0;
    margin-bottom: 70px;
    padding-bottom: 121%;
    position: relative;
    width: 100%;
  }

  .bl_MV2_ttl {
    color: #918f89;
    font: 400 30px/30px 'noto sans';
    left: 50%;
    letter-spacing: 3px;
    position: absolute;
    text-align: center;
    top: 30%;
    transform: translateX(-50%);
  }

  .bl_inf {
    margin-bottom: 143px;
    text-align: center;
  }

  .bl_inf_ttl {
    font: 400 21px/21px 'noto sans';
    letter-spacing: 2.1px;
    margin-bottom: 70px;
    text-align: center;
  }

  .bl_inf_conts {
    display: inline-block;
    margin-bottom: 40px;
  }

  .bl_inf_txt {
    font: 400 21px/21px 'noto sans';
    letter-spacing: 1.05px;
  }
}