/* 全体のfont指定 */
body {
  color: #3b3b3b;
  background-color: #fff;
}

/* PC表示版 */
@media screen and (min-width:769px) {

  /* Q&Aページ */
  .bl_MV3 {
    background: url(../img/2x/img8.png) no-repeat border-box left top/cover;
    display: flex;
    height: 0;
    margin-bottom: 98px;
    padding-bottom: 32%;
    position: relative;
    width: 100%;
  }

  .bl_MV3_ttl {
    color: #fff;
    font: 400 30px/30px 'noto sans';
    left: 18%;
    letter-spacing: 3px;
    position: absolute;
    text-shadow: 8px 12px rgba(255, 255, 255, 0.1);
    top: 45%;
  }

  .bl_qanda_ttl {
    color: #3b3b3b;
    font: 400 21px/21px 'noto sans';
    letter-spacing: 2.1px;
    margin-bottom: 102px;
    text-align: center;
  }

  .bl_qanda_conts {
    margin: 0 auto 163px;
    width: 37%;
  }

  .bl_qanda_conts_label {
    display: flex;
    font: 400 16px/16px 'noto sans';
    justify-content: space-between;
    letter-spacing: 1.6px;
    margin-bottom: 25px;
  }

  .fas {
    color: #00000034;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all .3s;
  }

  .fas.open {
    transform: matrix(-1, 0, 0, -1, 0, 0);
  }

  .el_checkbox {
    display: none;
  }

  .bl_qanda_conts_txt {
    font: 400 12px/20px 'noto sans';
    letter-spacing: .36px;
    margin-bottom: 51px;
    opacity: 0;
    text-align: left;
    transition: all .3s;
  }

  .bl_qanda_conts_txt.open {
    opacity: 1;
  }
}

/* SP表示版 */
@media screen and (max-width: 768px) {

  /* Q&Aページ */
  .bl_MV3 {
    background: url(../img/sp/sp-img08.png) no-repeat border-box left top/cover;
    height: 0;
    margin-bottom: 98px;
    padding-bottom: 121%;
    position: relative;
    width: 100%;
  }

  .bl_MV3_ttl {
    color: #fff;
    font: 400 30px/30px 'noto sans';
    left: 50%;
    letter-spacing: 3px;
    position: absolute;
    text-align: center;
    top: 30%;
    transform: translateX(-50%);
  }

  .bl_qanda_ttl {
    color: #3b3b3b;
    font: 400 21px/21px 'noto sans';
    letter-spacing: 2.1px;
    margin-bottom: 50px;
    text-align: center;
  }

  .bl_qanda_conts {
    margin: 0px auto 123px;
    width: 74%;
  }

  .bl_qanda_conts_label {
    display: flex;
    font: 400 13px/13px 'noto sans';
    justify-content: space-between;
    letter-spacing: 1.3px;
    margin-bottom: 15px;
  }

  .fas {
    color: #00000034;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all .3s;
  }

  .fas.open {
    transform: matrix(-1, 0, 0, -1, 0, 0);
  }

  .el_checkbox {
    display: none;
  }

  .bl_qanda_conts_txt {
    font: 600 12px/20px 'noto sans';
    letter-spacing: 1.3px;
    margin: -11px 0 0;
    opacity: 0;
    text-align: left;
    transition: all .3s;
  }

  .bl_qanda_conts_txt.open {
    margin: 0 0 35px;
    opacity: 1;
  }
}
