/* ヘッダー */
header{
    display: flex;
    height: 60px;
    width: 100%;
}

.header-logo{
    margin-top: 11px;
    margin-left: 88px;
    width: 62px;
    height: 37px;
}

.header-logo p{
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 600;
    color: #918F89;
    margin: 0px;
    line-height: 18.5px;
}

.header-nav{
    width: 336px;
    height: 35px;
    margin-top: 25px;
    margin-right: 90px;
    margin-left: auto;
}

.header-nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
}

.header-nav-list-item-a{
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #272727;
    border-bottom:  2px solid #3B3B3B;
    padding-bottom: 11px;
}

.header-nav-list-item a{
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #272727;
    opacity: 0.5;
}

/* Aboutページ */

.about-key-visual{
    position: relative;
}

.about-key-visual-title{
    position: absolute;
    font-family: 'Noto Sans';
    font-size: 60px;
    font-weight: 100;
    color: #918F89;
    letter-spacing: 3px;
    background-color: #FFFFFF;
    opacity: 0.8;
    margin-top: 264px;
    padding: 31px 95px 21px 88px;
}

.about-key-visual-img{
    width: 100%;
}

.about-catchphrase{
    display: flex;
}

.about-catchphrase-img{
    width: 50%;
    margin-top: 142px ;
    margin-left: 88px;
}

.about-catchphrase-title{
    font-family: 'Noto Sans';
    font-size: 25px;
    font-weight: 400;
    color: #3B3B3B;
    font-style: normal;
    letter-spacing: 2.5px;
    padding-top: 343px;
    padding-left: 70px;
    margin: 0;
}

.about-catchphrase-paragraph{
    font-family: 'Noto Sans';
    font-size: 12px;
    font-weight: 400;
    color: #3B3B3B;
    letter-spacing: 0.36px;
    padding-top: 40px;
    padding-left: 70px;
    margin: 0;
}

.about-gallery{
    margin-top: 200px;
}

.about-gallery-title{
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    margin: 0;
}

.about-gallery-img-container{
    display: flex;
    justify-content: center;
}

.about-gallery-img{
    width: 964px;
    margin-top: 50px;
}

.about-dot{
    margin-top: 30px;
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.about-dot li{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #A5A5A5;
    opacity: 0.3;
}

.about-dot .about-dot-active{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #A5A5A5;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 1;
}

.about-news{
    margin-top: 210px;
}

.about-news-title{
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    margin: 0;
}

.about-news-contents{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 89px;
    margin-left: 89px
}

.about-news-img-couch{
    width: 334px;
}

.about-news-img-chair{
    width: 334px;
}

.about-news-img-table{
    width: 334px;
}

.about-news-bottom{
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 21px;
    font-weight: 200;
    letter-spacing: 1.05px;
    color: #3B3B3B;
    margin-top: 39px;
    margin-bottom: 0;
}

.about-form{
    margin-top: 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-form-title{
    font-family: 'Noto Sans';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
    color: #3B3B3B;
    margin: 0;
}

.about-form-name{
    width: 463px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin-top: 60px;
}

.about-form-mail{
    width: 463px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin-top: 30px;
}

.about-form-text{
    width: 463px;
    height: 156px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    margin-top: 30px;
}

.about-form-submit{
    width: 111px;
    height: 35px;
    background: #707070 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 35px;
    font-family: 'Noto Sans';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    margin-top: 67px;
}

/* Newsページ */

.news-key-visual{
    display: flex;
}

.news-key-visual-text{
    position: absolute;
    font-family: 'Noto Sans';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #918F89;
    margin-top: 179px;
    margin-left: 228px;
}

.news-key-visual-img{
    width: 100%;
}

.news-information{
    margin-top: 86px;
}

.news-information-title{
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 2.1px;
    color: #3B3B3B;
}

.news-information-contents{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 89px;
    margin-left: 89px
}

.news-information-img-1{
    width: 334px;
}

.news-information-img-2{
    width: 334px;
}

.news-information-img-3{
    width: 334px;
}

/* Q&Aページ */
.qa-key-visual{
    display: flex;
}

.qa-key-visual-text{
    position: absolute;
    font-family: 'Noto Sans';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #FFFFFF;
    margin-top: 179px;
    margin-left: 228px;
    text-shadow: 8px 12px rgba(255, 255, 255, 0.1);
}

.qa-key-visual-img{
    width: 100%;
}

.qa-question-title{
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 2.1px;
    color: #3B3B3B;
    margin-top: 98px;
    margin-bottom: 0px;
}

.qa-question-contents{
    margin: 73px auto 0px auto;
    width: 474px;
}

.qa-question-contents p{
    text-align: left;
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    color: #3B3B3B;
    margin-bottom: 100px;
}

/* footer */

footer{
    height: 284px;
    display: flex;
    position: relative;
    background: #918F89 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 221px;
}

.footer-logo{
    position: absolute;
    margin-top: 116px;
    margin-left: 227px;
}

.footer-logo p{
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
    line-height: 30px;
}

.footer-nav{
    width: 335px;
    height: 24px;
    margin: 133px 219px 127px 726px;
}

.footer-nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0px;
}

.footer-nav-list li{
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFF;
}

.footer-nav-list a{
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-copyright{
    position: absolute;
    top: 235px;
    right: 50%;
    margin: auto;
    font-family: 'Noto Sans';
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}